body {
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}


/* navbar styles */
nav ul {
    display: flex;
    background-color: #2d25ad;
    margin: 0px;
    padding-top: 42px;
}

nav ul div {
    padding-bottom: 50px;
}

.nav-button {
    margin-left: 450px;
}

nav ul li {
    list-style: none;
    color: white;
    margin-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Header Section Styles */
.header-grid-container {
    background-color: #2d25ad;
    display: grid;
    grid-template-columns: 485px 565px;
    justify-content: center;
    padding-bottom: 86px;
    margin-bottom: 70px;
}

.header-button {
    text-decoration: none;
    background-color: #e02c6d;
    border: none;
    width: 168px;
    height: 44px;
    font-size: 16px;
    color: white;
}

.header-image {
    transition: transform .1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-image:hover {
    transform: scale(1.5);
}


/* main Section styles starts */
.main-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    row-gap: 27px;
    column-gap: 30px;
}

.main-grid-items {
    padding: 15px;
    padding-bottom: 33px;
    background-color: white;
    border: none;
    height: 474px;
    width: 330px;

}

/* Footer style */
.footer-section{
    display: grid; 
    justify-content: center;
    margin-top: 158px;
}
.icon{
color:gray;
margin: 10px 35px ;
}
.footer-icon{
    display: grid; 
    justify-content: center;
    margin-bottom:50px;
}
/* mobile screen Media Query */
@media only screen and (max-width:480px) {
    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(1, 330px);
        /* grid-column: 1; */
        justify-content: center;
    }

    .header-grid-container {
        background-color: #2d25ad;
        display: grid;
        grid-template-columns: repeat(1, 330px);
        justify-content: center;
    }
}

/* Tablet screen Media Query */
@media only screen and (max-width:768px) {
    .main-grid-container {
        display: grid;
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
    }
}